@page "/product/detail/{Id:int}"
@inject IProduct productData

@if (ProductWithId != null)
{
    <div class="row">
        <div class="col-lg-9">
            <h1>@ProductWithId.Name</h1>
        </div>
        <div class="col-lg-3 text-right">
            <a class="btn btn-secondary btn-sm" href="/" role="button">Вернуться</a>
        </div>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Описание</th>
                <td>@ProductWithId.Description</td>
            </tr>
            <tr>
                <th scope="row">Цена</th>
                <td>@ProductWithId.Price</td>
            </tr>
            <tr>
                <th scope="row">Изображение</th>
                <td>
                    <img src="@ProductWithId.Image" width="200" />
                </td>
            </tr>
        </tbody>
    </table>
}

@code {
    [Parameter]
    public int Id { get; set; }
    public ProductModel? ProductWithId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ProductWithId = await productData.GetProduct(Id);
    }
}
