@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Персональные данные";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}


<div class="row">
    <div class="col-md-6">
        <p>Ваш аккаунт содержит персональные данные, которые вы предоставили. Эта страница позволит скачать или удалить эти данные.</p>
        <p>
            <strong>Данные удалятся полностью, восставить их уже не получится.</strong>
        </p>
        <div style="display: flex; justify-content: space-between">
            <form id="download-data" asp-page="DownloadPersonalData" method="post">
                <button class="btn btn-primary" type="submit">Скачать</button>
            </form>
                <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Удалить</a>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
