html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


.logo-and-name{
    position: relative;
    margin: 0 20px 0 20px;
}

.centered-nav {
    position: relative;
}

.right-sided-nav{
    position: relative;
    margin: 0 20px 0 0;
}

.navbar{
    height: 58px;
    overflow: hidden;
}
#nav-menu{
    /*width: 100%;*/
}
.navbar-nav{
}

.navbar-nav li {
    margin: 0 0 0 30px;
}

.nav-item{
    overflow: hidden;
}

.footer-copyright {
    width: 100%;
    float: left;
    align-items: center;
    justify-content: center;
    text-align: center;
}