@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Ваш пароль будет восстановлен";
}

<h1>@ViewData["Title"]</h1>
<p>
    Пожалуйста, проверьте почту, чтобы восстановить ваш пароль (в том числе СПАМ).
</p>
