@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ваш пароль восстановлен <a asp-page="./Login">нажмите сюда</a> для входа.
</p>
