@{
    ViewData["Title"] = "Каталог";
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Базовые -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Мобильные meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- Meta данные сайта -->
    <title>OnlineStoreExample</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Responsive -->
    <link rel="stylesheet" href="css/responsive.css">
</head>
<body>
    <!-- banner bg main start -->
    <div class="banner_bg_main">
        <!-- header top section start -->
        <!-- logo section start -->
        <div class="logo_section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="logo"><a href="index.html"><img src="images/logo_banner.png"></a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- logo section end -->
        <!-- header section start -->
        <div class="header_section">
            <div class="container">
                <div class="containt_main">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Все категории
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Действие</a>
                            <a class="dropdown-item" href="#">Другое действие</a>
                            <a class="dropdown-item" href="#">Что-то еще</a>
                        </div>
                    </div>
                    <div class="main">
                        <!-- Another variation with a button -->
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Например: мобильное приложение">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" style="background-color: #f26522; border-color:#f26522 ">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header section end -->
        <!-- banner section start -->
        <div class="banner_section layout_padding">
            <div class="container">
                <div id="my_slider" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h1 class="banner_title">Начни <br>Играть по-настоящему</h1>
                                    <div class="buynow_bt"><a href="#">Купить сейчас</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h1 class="banner_title">Начни <br>Играть по-настоящему</h1>
                                    <div class="buynow_bt"><a href="#">Купить сейчас</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h1 class="banner_title">Начни <br>Играть по-настоящему</h1>
                                    <div class="buynow_bt"><a href="#">Купить сейчас</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="" href="#my_slider" role="button" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="" href="#my_slider" role="button" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- banner section end -->
    </div>
    <!-- banner bg main end -->
    <!-- desktop apps section start -->
    <div class="apps_section">
        <div class="container">
            <h1 class="apps_title">Дескопные приложения</h1>
            <div class="apps_section_2">
                <div class="row">
                    <div class="col-lg-4 col-sm-4">
                        <div class="box_main">
                            <h4 class="item_text">Мультиплеерный FPS</h4>
                            <p class="price_text">Цена:  <span style="color: #262626;">$ 30</span></p>
                            <div class="item_img"><img src="images/none-img.png"></div>
                            <div class="btn_main">
                                <div class="buy_bt"><a href="#">Купить сейчас</a></div>
                                <div class="seemore_bt"><a href="#">Посмотреть больше</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <div class="box_main">
                            <h4 class="item_text">Стильный Rougelike</h4>
                            <p class="price_text">Цена:  <span style="color: #262626;">$ 30</span></p>
                            <div class="item_img"><img src="images/none-img.png"></div>
                            <div class="btn_main">
                                <div class="buy_bt"><a href="#">Купить сейчас</a></div>
                                <div class="seemore_bt"><a href="#">Посмотреть больше</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <div class="box_main">
                            <h4 class="item_text">Что-то неизвестное</h4>
                            <p class="price_text">Цена:  <span style="color: #262626;">$ 30</span></p>
                            <div class="item_img"><img src="images/none-img.png"></div>
                            <div class="btn_main">
                                <div class="buy_bt"><a href="#">Купить сейчас</a></div>
                                <div class="seemore_bt"><a href="#">Посмотреть больше</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- apps section end -->
    <!-- mobile apps section start -->
    <div class="apps_section">
        <div class="container">
            <h1 class="apps_title">Мобильные приложения</h1>
            <div class="apps_section_2">
                <div class="row">
                    <div class="col-lg-4 col-sm-4">
                        <div class="box_main">
                            <h4 class="item_text">Шар предсказаний</h4>
                            <p class="price_text">Цена:  <span style="color: #262626;">$ 100</span></p>
                            <div class="item_img"><img src="images/none-img.png"></div>
                            <div class="btn_main">
                                <div class="buy_bt"><a href="#">Купить сейчас</a></div>
                                <div class="seemore_bt"><a href="#">Посмотреть больше</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <div class="box_main">
                            <h4 class="item_text">Камень-ножницы-бумага</h4>
                            <p class="price_text">Цена:  <span style="color: #262626;">$ 100</span></p>
                            <div class="item_img"><img src="images/none-img.png"></div>
                            <div class="btn_main">
                                <div class="buy_bt"><a href="#">Купить сейчас</a></div>
                                <div class="seemore_bt"><a href="#">Посмотреть больше</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <div class="box_main">
                            <h4 class="item_text">Симулятор монетки</h4>
                            <p class="price_text">Цена:  <span style="color: #262626;">$ 100</span></p>
                            <div class="item_img"><img src="images/none-img.png"></div>
                            <div class="btn_main">
                                <div class="buy_bt"><a href="#">Купить сейчас</a></div>
                                <div class="seemore_bt"><a href="#">Посмотреть больше</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mobile apps section end -->
    <!-- webapps section start -->
    <div class="apps_section">
        <div class="container">
            <h1 class="apps_title">Web-приложения</h1>
            <div class="apps_section_2">
                <div class="row">
                    <div class="col-lg-4 col-sm-4">
                        <div class="box_main">
                            <h4 class="item_text">Сайт-Портфолио</h4>
                            <p class="price_text">Цена:  <span style="color: #262626;">$ 100</span></p>
                            <div class="item_img"><img src="images/none-img.png"></div>
                            <div class="btn_main">
                                <div class="buy_bt"><a href="#">Купить сейчас</a></div>
                                <div class="seemore_bt"><a href="#">Посмотреть больше</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <div class="box_main">
                            <h4 class="item_text">Онлайн-магазин</h4>
                            <p class="price_text">Цена:  <span style="color: #262626;">$ 100</span></p>
                            <div class="item_img"><img src="images/none-img.png"></div>
                            <div class="btn_main">
                                <div class="buy_bt"><a href="#">Купить сейчас</a></div>
                                <div class="seemore_bt"><a href="#">Посмотреть больше</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <div class="box_main">
                            <h4 class="item_text">Карта игрового мира</h4>
                            <p class="price_text">Цена:  <span style="color: #262626;">$ 100</span></p>
                            <div class="item_img"><img src="images/none-img.png"></div>
                            <div class="btn_main">
                                <div class="buy_bt"><a href="#">Купить сейчас</a></div>
                                <div class="seemore_bt"><a href="#">Посмотреть больше</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- webapps  section end -->
    <!-- footer section start -->
    <div class="footer_section layout_padding">
        <div class="container">
            <div class="footer_logo"><a href="index.html"><img src="images/logo_banner.png"></a></div>
            <div class="input_bt">
                <input type="text" class="mail_bt" placeholder="Ваш Email" name="Your Email">
                <span class="subscribe_bt" id="basic-addon2"><a href="#">Подпишись</a></span>
            </div>
            <div class="footer_menu">
                <ul>
                    <li>
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Каталог</a>
                    </li>
                    <li>
                        <a class="nav-link" asp-area="" asp-page="/Discount">Скидки</a>
                    </li>
                    <li>
                        <a class="nav-link" asp-area="" asp-page="/Payment">Оплата</a>
                    </li>
                    <li>
                        <a class="nav-link" asp-area="" asp-page="/Delivery">Доставка</a>
                    </li>
                    <li>
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Пользовательское соглашение</a>
                    </li>
                </ul>
            </div>
            <div class="location_main">Сервисный центр (нет) : <a href="#">8 800 555 3535</a></div>
        </div>
    </div>
    <!-- footer section end -->
</body>
</html>