@page
@model IndexModel
@{
    ViewData["Title"] = "Резюме";
}

<body style="background-color: #1B2430; color: white;">
    <container id="greeting" style="background-image: url('background-photo-rightsided.jpg'); background-attachment:local; background-size: cover; background-position: right">
        <header style="padding-left: 10%">
            <h1>ПРИВЕТ,</h1>
            <h3>МЕНЯ ЗОВУТ</h3>
            <h1>ГУЛИН МАКСИМ</h1>
            <p class="fst-italic role">C# Developer / Unity Developer</p>
        </header>
        <content>
        </content>
    </container>
    <divider>
        <h1 style="padding: 0px 40%;">МОЕ РЕЗЮМЕ</h1>
    </divider>
    <container id="resume">
        <header>
            <h1 style="padding: 0px 40%;">*РЕЗЮМЕ*</h1>
        </header>
        <content>
        </content>
    </container>

 </body>