@page
@model PortfolioSite.Pages.StoreModel
@{
}

<body style="background-color: #1B2430; color: white;">
    <container id="resume" style=" background-image: url('background-store.jpg'); background-attachment:local; background-size: cover; background-position: right">
        <header>
            <h1 style="padding: 0px 40%;"><a href="http://store.devportfolio.site">ССЫЛКА НА САЙТ:</a></h1>
        </header>
        <content>
        </content>
    </container>
    <divider>
        <h1 style="padding: 0px 40%;">________________</h1>
    </divider>
    <container id="resume" style="background-image: url('background-store.jpg'); background-attachment:local; background-size: cover; background-position: right">
        <header>
            <h1 style="padding: 0px 40%;">*ПРОДЕЛАННАЯ РАБОТА*</h1>
        </header>
        <content>
        </content>
    </container>

</body>