@page
@model PortfolioSite.Pages.WorksModel
@{
}

<body style="background-color: #1B2430; color: white;">
    <container id="resume" style=" background-image: url('background-works.jpg'); background-attachment:local; background-size: cover; background-position: right">
        <header>
            <h1 style="padding: 0px 40%;">*РАБОТА 1*</h1>
        </header>
        <content>
        </content>
    </container>
    <divider>
        <h1 style="padding: 0px 40%;">________________</h1>
    </divider>
    <container id="resume" style="background-image: url('background-works.jpg'); background-attachment:local; background-size: cover; background-position: right">
        <header>
            <h1 style="padding: 0px 40%;">*РАБОТА 2*</h1>
        </header>
        <content>
        </content>
    </container>

</body>